# Source code
src/
tsconfig.json
.nvmrc

# Development files
.github/
.vscode/
.editorconfig
.eslintrc
.prettierrc
.env
.env.example
.npmrc

# Git files
.git/
.gitignore

# Tests
tests/
__tests__/
*.test.ts
*.spec.ts
jest.config.js

# Misc
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
*.log
.DS_Store
screenshot.gif
DEVELOPMENT.md 